-- Script to load your IQSchool database for the two
--		triggers in the Trigger Word document
DROP TRIGGER IF EXISTS TR_LogCourseChanges_Update
DROP TRIGGER IF EXISTS TR_Student_Update
go
DROP TABLE IF EXISTS CourseChanges
go
CREATE TABLE CourseChanges
(
	LogID		int IDENTITY(1,1) NOT NULL
		CONSTRAINT PK_CourseChanges_LogID PRIMARY KEY CLUSTERED ,
	ChangeDate datetime NOT NULL,
	OldCourseCost money NOT NULL,
	NewCourseCost money NOT NULL,
	CourseID	char(8) NOT NULL
)
GO

CREATE TRIGGER TR_LogCourseChanges_Update
ON Course
FOR Update
AS
--update(xxx) for insert is always 1
--update(xxx) for update returns 0 or 1 depending on the xxx being changed
IF @@ROWCOUNT > 0 and update(CourseCost)
BEGIN
	--where is the data coming from?
	--  in this case the data is coming from tables NOT PARAMETERS
	--  therefore, the INSERT will use the SELECT to obtain the data
	-- tables?
	--  old data is on the deleted table
	--  new data is on the inserted and database table
	--    (wherever possible deal with ONLY the effected data, thats found on the inserted)
	INSERT INTO CourseChanges(ChangeDate, OldCourseCost, NewCourseCost, CourseID)
	SELECT GETDATE(), deleted.CourseCost, inserted.CourseCost, inserted.CourseID
	FROM deleted inner join inserted
		ON deleted.CourseId = inserted.CourseId
	IF @@ERROR <> 0
	BEGIN
		RAISERROR('Unable to log course cost change. Log failed.',16,1)
	END
END
RETURN
go

CREATE TRIGGER TR_Student_Update
ON Student
FOR Update
AS
PRINT 'Executing trigger now'
Select * from inserted
Select * from deleted
Select * from student
ROLLBACK Transaction
Select * from inserted
Select * from deleted
Select * from student
PRINT 'trigger complete'
RETURN
go
